<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>It's working!</title>
    <style>
        .container {
            display: flex;
            align-items: start;
            gap: 20px;
        }

        form[role="form"] {
            flex: 1;
        }

        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<main class="container" role="main">
    <header>
        <img src="./working.gif" class="header-image" alt="Application is working">
    </header>
    <form id="personForm" action="#" th:action="@{/}" th:object="${personForm}" method="post" role="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" aria-required="true"/>
            <div th:if="${#fields.hasErrors('name')}" id="nameError" th:errors="*{name}" class="error-message"
                 role="alert">Name Error
            </div>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" class="form-control" id="age" th:field="*{age}" aria-required="true"/>
            <div th:if="${#fields.hasErrors('age')}" id="ageError" th:errors="*{age}" class="error-message"
                 role="alert">Age Error
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</main>
</body>
</html>